<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equinox Property Management - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <section id="branding-logo">
            <h1>Equinox Property Management</h1>
        </section>
        <section id="user-greeting">
            <h1>Hello, Guest</h1> 
            <h2>Sign In</h2>
        </section>
    </header>
    <nav>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/tenant/list11" class="nav-link">Tenant Registration</a>
            </li>
        </ul>
    </nav>
    <main>
        <section id="mainContent">
            <h1>Welcome to the Equinox Property Management website</h1>
            <hr>
            <div>
                <div class="home-content-row1">
                    <section>
                        <!-- TODO About Us content -->
                        <h3>About Us</h3>
                        <article>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit unde cupiditate aliquid incidunt quo ab dolores at, expedita distinctio dolor odio et doloremque maiores debitis vel possimus hic numquam?
                            </p>
                        </article>
                    </section>
                    <section>
                        <!-- TODO Location content -->
                        <h3>Our Location</h3>
                        <article>
                            <p>1234 East-West Avenue</p>
                            <p>Salt Lake City</p>
                            <p>UT 87020</p>
                        </article>
                    </section>
                </div>
                <div class="home-content-row2">
                    <h3>Our Buildings</h3>
                    <div class="buildings">
                        <section>
                            <h3>The Excelsior North tower</h3>
                            <article>
                                <!-- image1  -->
                                <img style="width: 540px; height: 320px;" src="/static/images/north-tower.png" alt="North tower">
                                
                            </article>
                        </section>
                        <section>
                            <h3>The Excelsior South tower</h3>
                            <article>
                                <!-- image2  -->
                                <img style="width: 540px; height: 320px;" src="/static/images/south-tower.png" alt="South tower">
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="topFooter">
            <section>
                <!-- TODO: Department contact info -->
            </section>
            <section>
                <!-- TODO: Site map -->
            </section>
            <section>
                <!-- TODO: Locations/Addresses -->
            </section>
        </div>
        <div id="bottomFooter">
            <div id="bottomFooter-left">
                <span>[LEMESSA ADUGNA] : : : CS472-WAP</span>
            </div>
            <div id="bottomFooter-right">
                <span>Copyleft &copy; November 2022</span>
            </div>
        </div>
    </footer>
</body>
</html>