<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equinox Property Management - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <section id="branding-logo">
            <h1>Equinox Property Management</h1>
        </section>
        <section id="user-greeting">
            <h1>Hello, Guest</h1> 
            <h2>Sign In</h2>
        </section>
    </header>
    <nav>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/tenant/list11" class="nav-link">Tenant Registration</a>
            </li>
        </ul>
    </nav>
    <main>
        <section id="mainContent"  >
            <h1>List of Our Registered Tenants</h1>
            <hr>
                  </div>
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Apartment</th>
                        <th>Primary Renters fullNames</th>
                        <th>Phone number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                   
                
                    <tr>
                        <td>1</td>
                        <td>301A, Floor:3, Excelsior North Tower</td>
                        <td>Alan K.Jones</td>
                        <td>(641)123-0009</td>
                        <td>akjones@domain.com</td>
                    </tr>
                        <tr>
                        <td>2</td>
                        <td>148B,Floor:1, Excelsior South Tower</td>
                        <td>Barbara Lynn Smith</td>
                        <td>(321)001-1234</td>
                        <td>blsmith@email.com</td>
                    <!-- </tr>

                    each tenant, idx in tenantDatas
                        tr
                            td #{idx+1}
                            td #{tenant.apartment}
                            td #{tenant.fullName}
                            td #{tenant.phone}
                            td #{tenant.email} -->

                    
                </tbody>
                </table>
            </div> 
        </section>
    </main>
    <footer>
        <div id="topFooter">
            <section>
                <!-- TODO: Department contact info -->
            </section>
            <section>
                <!-- TODO: Site map -->
            </section>
            <section>
                <!-- TODO: Locations/Addresses -->
            </section>
        </div>
        <div id="bottomFooter">
            <div id="bottomFooter-left">
                <span>[LEMESSA ADUGNA] : : : CS472-WAP</span>
            </div>
            <div id="bottomFooter-right">
                <span>Copyleft &copy; November 2022</span>
            </div>
        </div>
    </footer>
</body>
</html>